body {
    margin: 0;
}

.container {
    font-family: 'Roboto', sans-serif;
    display: none;
    margin: auto;
    width: 70%;
    @media only screen and (min-width: 310px) and (max-width: 800px) {
        width: 90%;
    }
}

.header {
    padding: 0;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 5px;
    align-items: center;

    &__update-button{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7rem;
        height: 3rem;
        background-color: #d3d0d0;
        border-radius: 10px;;
        border: none;

    }
    &__update-img {
        width: 2rem;
        display: none;
        @media only screen and (min-width: 310px) and (max-width: 800px) {
            display: flex;
            
        }
    }
    &__update-text{
        @media only screen and (min-width: 310px) and (max-width: 800px) {
            display: none;
        }
    }
}

.city-card {
    width: 100%;
    @media only screen and (min-width: 310px) and (max-width: 800px) {
        width: 100% ;

    }
    @media only screen and (min-width: 800px) and (max-width: 2000px) {
        width: 100%;

    }
    &_favorite {
        margin: 0 0.5rem;
    }
    display: grid;
    &__params {
        list-style-type: none;
        padding: 0;

    }
    &__params_main {
        list-style-type: none;
        padding: 0;
        margin: 0 1rem;
    }
    &__param {
        background-color: #a7a7a7;
        font-size: 20px;
        margin: 8px 0px;
        padding: 5px;
        color: white;
    }
    &_main{
        width: 100%;
        margin: 0px;
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
    &__key-value {
        padding: 0 1rem;
        display: flex;
        justify-content: space-between;
    }
    &__key {
        font-weight: bold;
        @media only screen and (min-width: 310px) and (max-width: 700px) {
            font-size: 15px;
    
        }
    }
    &__value {
        @media only screen and (min-width: 310px) and (max-width: 700px) {
            font-size: 15px;
    
        }
        font-weight: lighter;
    }
}
.city-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name name degrees weather-icon remove-btn';
    align-items: center;
    @media only screen and (min-width: 310px) and (max-width: 800px) {
        width: 100% ;

    }
    &_expanded {
        font-size: 36px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 'name degrees'
                            'weather-icon degrees'
                            ;
                            align-items: center;
    }
    &__name {
        margin: 0 0.5rem;
        grid-area: name;
        font-size: 20px;
        // @media only screen and (min-width: 310px) and (max-width: 800px) {
        //     margin: 0;
    
        // }

    }
    &__degrees{
        font-size: 30px;
        grid-area: degrees;
    }
    &__weather-icon_lg {
        grid-area: weather-icon;
        width: 100px;
    }
    &__weather-icon_md {
        grid-area: weather-icon;
        width: 50px;
    }
    &__remove-btn {
        grid-area: remove-btn;
        border: none;
        background-color: #fff;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__remove-img {
        width: 2rem;

    }

}

.form{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: 'input input input input submit';
    @media only screen and (min-width: 310px) and (max-width: 800px) {
        // display: flex;
        // justify-content: center;
        // align-items: center;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 1fr;
        grid-template-areas: 'input input input input submit';

    }
    &__input {
        // @media only screen and (min-width: 310px) and (max-width: 1024px) {
        //     width: 90%;
        // }
        width: 95%;
        justify-self: center;
        @media only screen and (min-width: 310px) and (max-width: 800px) {
            justify-self: flex-start;
    
        }
        align-self: center;
        height: 1.5rem;
        grid-area: input;
    }
    &__submit {
        border: none;
        background-color: #fff;
        grid-area: submit;

        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__plus-img {
        width: 2rem;
        color:  #a7a7a7;
        grid-area: plus-img;
    }
}
.favorites-cities {
    &__header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        @media only screen and (min-width: 310px) and (max-width: 800px) {
            display: block;

        }
        margin: 0 0.5rem;
    }
    &__list {
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        & > li{
            display: flex;
            justify-content: center;
            align-items: center;
            @media only screen and (min-width: 310px) and (max-width: 800px) {
                width: 100%;
    
            }
            @media only screen and (min-width: 1500px) and (max-width: 2000px) {
                width: 100%;
            }
            @media only screen and (min-width: 801px) and (max-width: 1000px) {
                width: 300px;
            }
            
        }

    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media only screen and (min-width: 310px) and (max-width: 800px) {
        &__list {
            display: flex;
            flex-direction: column;
    
        }
    }

}
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #d3d0d0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.error_page {
    display: none;
}