body {
    margin: 0;
}

.container {
    margin: auto;
    width: 70%;
    @media only screen and (min-width: 310px) and (max-width: 1024px) {
        width: 90%;
    }
}

.header {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    padding: 5px;
    align-items: center;

    &__update-button{
        width: 7rem;
        height: 3rem;
        background-color: #d3d0d0;
        border-radius: 10px;;
        border: none;

    }
    &__update-img {
        width: 2rem;
    }
}

.city-card {
    @media only screen and (min-width: 310px) and (max-width: 820) {
        width: auto;
    }
    width: 95%;
    display: grid;
    &__params {
        list-style-type: none;
        padding: 0;

    }
    &__param {
        background-color: #a7a7a7;
        font-size: 20px;
        margin: 8px 0px;
        padding: 5px;
        color: white;
    }
    &_main{
        width: 100%;
        
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }
}
.city-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas: 'name name degrees weather-icon remove-btn';
    align-items: center;
    &_expanded {
        font-size: 36px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: 'name degrees'
                            'weather-icon degrees'
                            ;
                            align-items: center;
    }
    &__name {
        grid-area: name;
        font-size: 20px;

    }
    &__degrees{
        font-size: 30px;
        grid-area: degrees;
    }
    &__weather-icon_lg {
        grid-area: weather-icon;
        width: 100px;
    }
    &__weather-icon_md {
        grid-area: weather-icon;
        width: 50px;
    }
    &__remove-btn {
        grid-area: remove-btn;
        border: none;
        background-color: #fff;
    }
    &__remove-img {
        width: 2rem;

    }
}
.form{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    &__input {
        width: 15rem;
        height: 1.5rem;
    }
    &__submit{
        border: none;
        background-color: #fff;
    }

    &__plus-img{
        width: 2rem;
        color:  #a7a7a7;
    }
}
.favorites-cities {
    &__list {
        display: grid;
        list-style-type: none;
        grid-template-columns: repeat(2, 1fr);
        padding: 0;
        & > li{
            display: flex;
            justify-content: center;
            align-items: center;
        }

    }
    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    @media only screen and (min-width: 310px) and (max-width: 1024px) {
        &__list {
            display: flex;
            flex-direction: column;
    
        }
    }

}